<div [@routerTransition]>
    <app-page-header [heading]="'Inovação'" [dashboard]="'dashboard-novo'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
            <div class="col-lg-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <i class="fa fa-clock-o fa-fw"></i> Coisas Inovadoras 1
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <i class="fa fa-clock-o fa-fw"></i> Coisas Inovadoras 2
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
            </div>
    </div>
</div>