
<div class="card-header">
    <div class="row">
        <div class="col1" style="margin-top:2%">
                <h5>Centro de Ciencia e Tecnologia</h5>
                <h6>Curso de Ciencia da Computacao</h6>
        </div>
        <div style="margin-left:70%" >
                <img [src]="urlUnicap" height="100px" width="100px"> 
        </div>
    </div>

</div>
 
  <div class="card-body table-responsive">
      <table class="table table-bordered">
          <thead>
          <tr>
              <th>Matricula</th>
              <th>Nome</th>
              <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let prof of professores" [routerLink]="['/professor', prof.matricula]" >
              <td>{{prof.matricula}}</td>
              <td>{{prof.nome}}</td>
              <td>{{prof.email}}</td>
          </tr>
          </tbody>
    </table>
</div>