
  <div class="card-header">
        <div class="row">
                <div class="col1">
                    <img [src]="urlProfessor" height="90px" width="75px">
                </div>
                <div class="col1" style="margin-left:5%" style= "margin-top:1%">
                    <h6>Nome: {{professor.nome}}</h6>
                    <h6>Matricula: {{professor.matricula}}</h6>
                    <h6>Email: {{professor.email}}</h6>
                </div>
                <div style="margin-left:70%">
                    <img [src]="urlUnicap" height="100px" width="100px">  
                </div>
                 

            </div>
  </div>
  <div class="card-body table-responsive">
      <table class="table table-bordered">
          <thead>
          <tr>
              <th>Código</th>
              <th>Descricao</th>
              <th>Quantidade de Creditos</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let disc of disciplinas">
              <td>{{disc.codigo}}</td>
              <td>{{disc.descricao}}</td>
              <td>{{disc.qtdCreditos}}</td>
          </tr>
          </tbody>
    </table>
</div>